# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.auto.tfvars

# Crash logs
crash.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PEM keys
*.pem
AWS Access key.txt

# Python
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
venv/
.venv/

# Environment files
.env
.env.*

# Node
node_modules/
dist/